http://localhost {
    tls stefan.ziegler.de@gmail.com

    proxy /client/ client:8080 {
        header_upstream +X-Forwarded-Prefix api
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream +X-Forwarded-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
        without /client
    }

    redir /client /client/

    log stdout
    errors stdout
}

http://grundstuecksinformation.ch {
    tls stefan.ziegler.de@gmail.com

    proxy / client:8080 {
        header_upstream +X-Forwarded-Prefix api
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream +X-Forwarded-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }

    redir /client /client/

    log stdout
    errors stdout
}
